style {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
}

body {
    margin: 0;
    background-color: var(--md-sys-color-background-dark);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0px;
}

@media screen and (max-width: 768px) {
    * {
        transition: 0.25s;
    }

    .menu-bar>.nav-wrapper,
    .menu-bar>a {
        display: none;
    }

    #keyboard1 {
        max-width: 150px;
    }

    #products {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    * {
        transition: 0.25s;
    }

    .menu-bar .menu-button {
        display: none;
    }

    #keyboard1 {
        max-width: 25vw;
        max-height: 50px;
    }

    #products {
        flex-direction: row;
    }
}

.hover {
    transition: 0.25s;
    scale: 1;
}

.hover:hover {
    transition: 0.25s;
    scale: 1.05;
}

.logo {
    padding: 10px;
    margin-left: 10px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.nav-wrapper>a {
    margin: 10px;
    text-decoration: none;
    font-weight: 700;
    color: var(--md-sys-color-surface-variant-dark);
}

.nav-wrapper>a:hover {
    color: var(--md-sys-color-primary-container-dark);
}

.logo img {
    width: 75px;
}

.menu-bar {
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--md-sys-color-on-primary-container-dark);
    margin-top: 0px;
    padding-top: 0px;
    height: fit-content;
}

.menu-button {
    background-color: var(--md-sys-color-surface-variant-dark);
    z-index: 250;
    width: 50px;
    height: 50px;
    margin: 2%;
    padding: 1%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
}

#menu-icon {
    color: var(--md-sys-color-on-primary-container-dark);
}

.menu-button>ul {
    display: none;
    list-style-type: none;
    padding: 0px;
}

.menu-button>ul>li>a {
    text-decoration: none;
    color: var(--md-sys-color-on-primary-container-dark);
}

.menu-button>ul.visible {
    font-size: 1rem;
    display: block;
    margin: 10px;
    line-height: 25px;
}

.show-menu {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.menu-button:hover {
    background-color: var(--md-sys-color-primary-container-dark);
}

.menu-button i.material-icons {
    font-size: 2.5rem;
}

.show {
    top: 0;
    height: fit-content;
    width: fit-content;
    display: block;

}

main {
    width: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh 60vhfr 1fr 1fr 60vh;
    grid-template-areas:
        'mn'
        'b1'
        'b2'
        'b3'
        'f1';
    font-family: "Roboto", sans-serif;
}

#landing {
    z-index: -2;
    grid-area: mn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/keyboard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#landing h1 {
    font-weight: 700;
    font-size: 3rem;
    backdrop-filter: blur(5px) invert();
    color: white;
    mix-blend-mode: difference;
    padding-left: 5%;
    z-index: -1;
}

.box1 {
    grid-area: b1;
    display: flex;
    background-color: var(--md-sys-color-primary-container-dark);
    color: var(--md-sys-color-on-primary-container-dark);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.box1>p {
    align-self: center;
}

.box1>div {
    background-image: url('../img/keyboard1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    margin-left: 10px;
}

#keyboard1 {
    border-radius: 10px;
    object-fit: cover;
    padding-right: 0px;
    margin-right: 0;
    margin-left: 10px;
}

.box2 {
    grid-area: b2;
    display: flex;
    background-color: var(--md-sys-color-primary-container-dark);
    color: var(--md-sys-color-on-primary-container-dark);
    height: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.box2>div {
    background-image: url('../img/keyboard1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 200px;
    min-height: 150px;
    margin-right: 10px;
}

.box3 {
    grid-area: b3;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--md-sys-color-primary-container-dark);
    height: fit-content;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    color: var(--md-sys-color-surface-variant-dark);
}

.flex-item {
    background-color: var(--md-sys-color-on-primary-container-dark);
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.flex-item>p {
    margin: auto;
}

#flexwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--md-sys-color-on-primary-container-dark);
}

#flexwrapper>h2 {
    font-size: 2rem;
    margin: 50px 0px;
    background-color: var(--md-sys-color-surface-variant-dark);
    padding: 10px;
    border-radius: 10px;
}

.divider {
    width: 90vw;
    height: 2px;
    background-color: var(--md-sys-color-on-primary-container-dark);
    margin: 0px 0px 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: var(--md-sys-color-primary-container-dark);
    width: 80vw;
    max-width: 700px;
    height: fit-content;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* color: ; */
}

.product>a {
    text-decoration: none;
    color: var(--md-sys-color-on-primary-container-dark);
}

.product>a>h3 {
    margin: 10px 0px 0px;
}

.image {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 200px;
    min-height: 300px;
}

#image1 {
    background-image: url('../img/keyboard1.jpg');
}

.image2 {
    background-image: url('../img/SenseProject.png');
    width: 100%;
}

#lucas {
    background-image: url("../img/Person.png");
}

/* .product>img {
    width: 80vw;
} */

#keebflex {
    width: 80vw;
    max-width: 700px;
}

#features {
    width: 100%;
    text-align: center;
    background-color: var(--md-sys-color-on-primary-container-dark);
    border-radius: 10px;
    margin: 0px 5%;
}

#productimage-keeb {
    background-image: url("../img/keyboard.jpg");
}

#products>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#products>div:nth-child(3)>div {
    background-image: url("../img/windows.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10px;
    margin: auto;
    margin-right: 5px;
}

#keebflex>div:nth-child(6) {
    background-image: url("../img/keyboard1.jpg");
    background-size: cover;
}

footer {
    background-color: var(--md-sys-color-surface-variant-dark);
    color: var(--md-sys-color-on-surface-variant-dark);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1vh;
    padding: 20px;
    padding-left: 20px;
    border-top: solid 5px var(--md-sys-color-outline-dark);
    font-family: "Roboto", sans-serif;
}

footer>.links {
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5vw;
}

footer>.links>a {
    text-decoration: none;
    color: var(--md-sys-color-on-surface-variant-dark);
}

footer>.socials {
    display: flex;
    gap: 2.5vw;
    justify-content: flex-start;
}

footer>.socials>a>img {
    width: 30px;
}

footer>.about {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer>.about>h5 {
    margin: 0px;
}