style{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
}

body {
    margin: 0;
    background-color: var(--md-sys-color-background-dark);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav{
    /* min-width: 1400px; */
    position: sticky;
    top: 0px;
}

@keyframes menu-button{
    from{
        scale: 1.0;
    }
    to{
        scale: 1.5;
    }
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(131, 92, 66), rgb(245, 0, 0));
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
#blur {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 4;
    backdrop-filter: blur(12vmax);
}




@media screen and (max-width: 768px){
    *{
        transition: 0.25s;
    }
    .menu-bar > .nav-wrapper, .menu-bar > a{
        display: none;
    }
    #keyboard1{
        max-width: 150px;
    }
}

@media screen and (min-width: 768px){
    *{
        transition: 0.25s;
    }
    .menu-bar .menu-button{
        display: none;
    }
    #keyboard1{
        max-width: 25vw;
        max-height: 50px;
    }
}

.hover{
    transition: 0.25s;
    scale: 1;
}

.hover:hover{
    transition: 0.25s;
    scale: 1.125;
}

.logo{
    padding: 10px;
    margin-left: 10px;
}

.nav-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto", sans-serif;
    /* font-weight: 900; */
}

.nav-wrapper>a{
    margin: 10px;
    text-decoration: none;
    font-weight: 700;
    color: var(--md-sys-color-surface-variant-dark);
}

.nav-wrapper>a:hover{
    color: var(--md-sys-color-primary-container-dark);
}

.logo img{
    width: 75px;
}

.menu-bar{
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--md-sys-color-on-primary-container-dark);
    margin-top: 0px;
    padding-top: 0px;
    height: fit-content;
}

.menu-button{
    background-color: var(--md-sys-color-surface-variant-dark);
    width: 50px;
    height: 50px;
    margin: 1%;
    padding: 1%;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menu-button>ul{
    display: none;
}

.show-menu{
    width: 60vw;
    height: 60vw;
    border-radius: 25px;
}

/* .menu-button{
    background-color: var(--md-sys-color-surface-variant-dark);
    position: fixed;
    top: 17.5px;
    right: 17.5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */

.menu-button:hover{
    background-color: var(--md-sys-color-primary-container-dark);
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.menu{
    /* height: 20vh; */
    /* width: 100vw; */
    height: 0px;
    width: 0px;
    padding: 2.5vh;
    padding-left: 0%;
    position: fixed;
    top: -10vh;
    border-radius: 20px;
    background-color: brown;
    /* left: -90vw; */
    right: 0;
    transition: top 0.5s, height 0.5s, width 0.5s;
    /* transition: left 0.3s; */
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    font-family: Roboto;
    display: none;
}

.show{
    /* left: 0; */
    top: 0;
    height: fit-content;
    width: fit-content;
    display: block;

}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 0;
}

.fade-layer.visible{
    display: block;
}

main{
    width: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh 60vhfr 1fr 1fr 60vh;
    grid-template-areas: 
    'mn'
    'b1'
    'b2'
    'b3'
    'f1';
    font-family: "Roboto", sans-serif;
}

#landing{
    z-index: -2;
    grid-area: mn;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    /* color: var(--md-sys-color-on-primary-container-dark); */
    /* color: var(--md-sys-color-surface-variant-dark); */
    /* color: var(--md-sys-color-primary-container-dark); */
    /* color: invert; */
    height: 100vh;
    /* background-image: url('../img/keyboard1.jpg'); */
    background-image: url('../img/keyboard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#landing h1{
    font-weight: 700;
    font-size: 3rem;
    backdrop-filter: blur(5px) invert();
    color: white;
    mix-blend-mode: difference;
    padding-left: 5%;
    z-index: -1;
}

#box1{
    grid-area: b1;
    display: flex;
    /* align-items: center; */
    background-color: var(--md-sys-color-primary-container-dark);
    color: var(--md-sys-color-on-primary-container-dark);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#box1>p{
    align-self: center;
}

#box1>div{
    /* background-image: url('../img/keyboard1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 150px;
    min-height: 150px; */
    /* max-height: 900px; */
    /* margin-left: 10px; */
    background-image: url('../img/keyboard1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    margin-left: 10px;
}

#keyboard1{
    /* grid-area: p1; */
    border-radius: 10px;
    /* width: 100px; */
    /* max-width: 200px; */
    /* max-height: 200%; */
    /* height: auto; */
    object-fit: cover;
    /* object-position: top; */
    padding-right: 0px;
    margin-right: 0;
    margin-left: 10px;
}

#box2{
    grid-area: b2;
    display: flex;
    background-color: var(--md-sys-color-primary-container-dark);
    color: var(--md-sys-color-on-primary-container-dark);
    height: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#box2>div{
    background-image: url('../img/keyboard1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 200px;
    min-height: 150px;
    margin-right: 10px;
}

#box3{
    grid-area: b3;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--md-sys-color-primary-container-dark);
    height: fit-content;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

.flex-item{
    /* text-wrap: wrap; */
    background-color: var(--md-sys-color-on-primary-container-dark);
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: 250px;
    padding: 20px;
}

#flexwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product{
    background-color: var(--md-sys-color-primary-container-dark);
    width: 100vw;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    color: ;
}

.image{
    /* background-image: url('../img/keyboard1.jpg'); */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    min-width: 500px;
    min-height: 500px;
    margin-right: 10px;
}

#image1{
    background-image: url('../img/keyboard1.jpg');
}

#image2{
    background-image: url('../img/SenseProject.png');
}

.product>img{
    width: 80vw;
}

footer {
    background-color: var(--md-sys-color-surface-variant-dark);
    color: var(--md-sys-color-on-surface-variant-dark);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1vh;
    padding: 20px;
    padding-left: 20px;
    /* border-width: 5px; */
    /* border-style: solid; */
    border-top: solid 5px var(--md-sys-color-outline-dark);
    /* border: var(--md-sys-color-primary-dark); */
    
    font-family: "Roboto", sans-serif;
}

footer>.links {
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5vw;
    /* margin-top: 20px; */
    
}

footer>.links>a{
    text-decoration: none;
    color: var(--md-sys-color-on-surface-variant-dark);
}

footer>.socials {
    display: flex;
    gap: 2.5vw;
    justify-content: flex-start;
}

footer>.socials>a>img{
    width: 30px;
}

footer>.about {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer>.about>h5{
    margin: 0px;
}